{
  "root": true,
  "extends": ["airbnb", "airbnb/hooks", "next/core-web-vitals", "prettier"],
  "parser": "@typescript-eslint/parser",
  "globals": {
    "JSX": true
  },
  "plugins": ["@typescript-eslint", "import"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    }
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".tsx"] }],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "explicit-function-return-type": "off",
    "explicit-module-boundary-types": "off",
    "no-empty-function": "off",
    "no-empty-interface": "off",
    "no-inferrable-types": "off",
    "no-unused-vars": "warn",
    "no-shadow": "off",
    "camelcase": "off",
    "import/extensions": "off",
    "react/function-component-definition": [2, { "namedComponents": ["arrow-function", "function-declaration"] }],
    "no-use-before-define": "off",
    "consistent-return": "off",
    "react/no-unstable-nested-components": "off",
    "react/require-default-props": "off",
    "no-param-reassign": "off",
    "react/jsx-props-no-spreading": "off",
    "no-undef": "off",
    "import/named": "off",
    "import/no-mutable-exports": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "import/no-anonymous-default-export": "off",
    "import/no-cycle": "off",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "index"],
        "pathGroupsExcludedImportTypes": ["react", "unknown"],
        "alphabetize": {
          "order": "asc"
        },
        "newlines-between": "always"
      }
    ]
  }
}
